<html>
<head>
	<title>FM | Countries</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
	<form action="/logout" method="post">
		<input type="submit" value="Sing out"/>
		<input type="hidden" name="_csrf" value="{{_csrf.token}}">
	</form>
</div>
<div>
	<form action="/countries" method="post">
		<input type="text" name="name" placeholder="Введите страну">
		<input type="text" name="tag" placeholder="И тег">
		<input type="hidden" name="_csrf" value="{{_csrf.token}}">
		<button type="submit">Добавить</button>
	</form>
</div>
<div>Список стран</div>
<form action="/filter" method="post">
	<input type="text" name="filter">
	<input type="hidden" name="_csrf" value="{{_csrf.token}}">
	<button type="submit">Найти</button>
</form>
{{#countries}}
	<div>
		<b>{{id}}</b>
		<span>{{name}}</span>
		<i>{{tagName}}</i>
		<strong>{{authorName}}</strong>
	</div>
{{/countries}}
</body>

</html>