<!DOCTYPE HTML>
<html>
<head>
	<title>FM | Greeting</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Greeting! Hello, {{name}}!</div>
<a href="/main">Main page</a>
</body>
</html>