<!DOCTYPE HTML>
<html>
<head>
	<title>FM | Main</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
	<form action="/logout" method="post">
		<input type="submit" value="Sing out"/>
		<input type="hidden" name="_csrf" value="{{_csrf.token}}">
	</form>
</div>
<div>Greeting! Hello, {{username}}!</div>
<div>
	To see countries click <a href="/countries">here</a>
</div>
</body>
</html>